nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav.navbar > ul.navbar-list{
    display: flex;
    gap: 10px;
}
nav.navbar > ul.navbar-list > li.list-item{
    list-style: none;
}

nav.navbar > div.navbar-name{
    display: flex;
    align-items: center;
    gap: 20px;

}

nav.navbar > div.navbar-name > div.name-content{
    display: inherit;
    align-items: inherit;
    gap: 20px;
}

nav.navbar > div.navbar-name > div.name-content > div.content-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0D6EFD;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar > div.navbar-name > div.name-content > div.content-circle > h6{
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 0;
}